$color-almostblack: #333;
$color-black: #000;
$color-gray: #ddd;
$color-lightgray: #f9f9f9;
$color-lightergray: #e8e8e8;
$color-darkgray: darken($color-gray, 20%);
$color-verydarkgray: darken($color-darkgray, 15%);
$color-blue: #317cd5;
$color-lightyellow: #fcf8e3;
$color-red: darken(#e3647e, 10%);
$color-green: #74b74c;
