.DS_Store
*#
*.#*
*.class
*.retry
**/*.retry
*.jar
*sw?
*~
.hg/
.hgignore
.cljs_rhino_repl
/.lein-*
/.nrepl-port
/checkouts
/classes
/env.el
/target
npm-debug.log
pom.xml
/aws/aws
/aws/aws.env
/aws_full/aws
/narus/aws
/narus/narus.txt
/narus/narus.pem
/aws_full/aws.env
/provisioning/secure/aws.env
pom.xml.asc
provisioning/*.retry
/secure.tar.gz
/secure
/terraform-aws-vpc/aws
/terraform-aws-vpc/*.pem
infrastructure/old/narus/aws
infrastructure/old/narus/narus.pem
infrastructure/old/narus/narus.txt
deployer_rsa
infrastructure/old/aws/aws
infrastructure/old/aws/aws.env



out/*
resources/public/adminbox
resources/public
resources/landing
env.el
env.sh
aidbox.log
fetcher
fetcher.pub
figwheel_server.log
/profiles.clj
infrastructure/secure
.terraform
provisioning-2/secure/*.pem
provisioning-2/secure/*.txt
provisioning-2/secure/deployer_rsa

provisioning-2/secure
*.pyc
provisioning/secure
journal
tmp

config/local.edn
config/_local.edn
terminology/terminology.backup
config/dev.edn
config/_dev.edn
fhirterm/resources/
fhirterm/backup


frontend/resources/public/css
frontend/resources/public/js
frontend/figwheel_server.log
/frontend/.nrepl-port
/frontend/target/*
/frontend/out/*
ui/resources/public
ui/target
ui/.nrepl-port
ui/.nrepl-port
aidbox.log.json
