{:spec {:Image "aidbox/videorecorder:9418b60dd70af429fe1fae5cf7968a5cf4db2043"
        :Env ["PORT=8080"
              "UPLOAD_DIR=/var/videorecorder-resource"
              "STATIC_DIR=/var/videorecorder-static" ]
        :HostConfig {:PortBindings {"8080/tcp" [{:HostPort "9000"}]}
                     :Binds ["/var/videorecorder/videos:/var/videorecorder-resource"] }}}
