{:spec {:Image "aidbox/videorecorder:652b13e72e4e07a1fdbe002facdcbe27e02478e7"
        :Env ["PORT=8080"
              "UPLOAD_DIR=/var/videorecorder-resource"
              "STATIC_DIR=/var/videorecorder-static" ]
        :HostConfig {:PortBindings {"8080/tcp" [{:HostPort "9000"}]}
                     :Binds ["/var/videorecorder/videos:/var/videorecorder-resource"] }}}
