section.scratchpad-page {
    /* .code-editor { */
    /*   position: absolute; */
    /*   left: 0; */
    /*   top: 12rem; */
    /*   right: 0; */
    /*   bottom: 0; */
    /*   background-color: #fff; */

    /*   .CodeMirror { */
    /*     padding-top: 0; */
    /*     padding-bottom: 0; */
    /*     width: 980px; */
    /*     margin: 0 auto; */
    /*     height: 100%; */
    /*   } */
    /* } */

    .CodeMirror {
        padding: 1rem;
        height: auto;
    }

    // article.markdown {
    //     margin: 0 1rem;
    // }
}

section.video-page {
    #video {
        width: 100%;
        border: 1px solid #ddd;
        display: block;
    } 
    .videos {
        margin-top: 1em;
        margin-bottom: 20em;
        .item {
            border-top: 1px solid #ddd;
            padding: 10px 0;
        }
        .preview {
            height: 200px;
            display: inline-block;
        }
        .desc {
            display: inline-block;
            vertical-align: top;
            margin-left: 2em;
        }
    }
    #recorder {
        position: relative;
        .buttons {
            position: absolute;
            bottom:0;
            height: 50px;
            background: #ddd;
            color: white;
            opacity: 0.7;
            left: 0;
            padding: 10px;
            right: 0;
            text-align: center;
            .start {
                display: inline-block;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                border: none;
                outline: none;
                background: #555;
                cursor: pointer;
                &:hover {
                    background: green;
                }
            }
            .stop {
                display: inline-block;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                border: none;
                outline: none;
                background: red; 
                cursor: pointer;
                &:hover {
                    background: red;
                }
            }
        }
    }
}
