.code-editor {
  textarea {

  }

  .CodeMirror {
    line-height: 1.3;
    height: auto;
    overflow: hidden;
    position: relative;
  }

  .cm-s-neo.CodeMirror {
      line-height: 1.3;
      // background-color: #fafafa;
      border-radius: 6px;
      box-shadow: 0 0 0 1px $color-red;
      height: auto;
      margin: 0.5rem 0;


      .CodeMirror-lines {
          padding-top: 0;
          padding-bottom: 0;
      }
  }
}
